{{ ansible_managed }}

Host: {{ ansible_fqdn }} 
System Total memory : {{ ansible_memtotal_mb }}
System Free memory : {{ ansible_memfree_mb }}

Only Authorized users are allowed to use this asset.
for further concerns contact : {{ system_owner }}.


